.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}





/* Redefine the basic text size in the application from 18px.  Instances of 18px text will be handled individually */
body {
  font-size: 16px !important;
}

.semi-bold {
  font-weight: 600;
}


/* Universal (application centered) error message styling */
.error-msg {
  /*color: red;*/
  color: #d81118;   /* Red that satisfies accessibility tests */
  font-size: 14px;
  margin: 0px;
}

.error-label {
    /*color: #ed1c24!important;*/
    color: #d81118 !important;
}



/* Define the size of a header on a card */
.card .card-toolbar .card-title h2 {

  font-size: 1.17em;
}

